# emacs temporary files
*~

# temporary directory for project related things which meant not to commit:
tmp/

# latex generation stuff:
doc/escad_manual.aux
doc/escad_manual.bbl
doc/escad_manual.blg
doc/escad_manual.idx
doc/escad_manual.ilg
doc/escad_manual.ind
doc/escad_manual.log
doc/escad_manual.out
doc/escad_manual.toc
doc/figures/*.aux
doc/figures/*.log
doc/figures/*.pdf