html { overflow-y:scroll; }

body { background-color: #330000; }

h1 {
    float: left;
    width: 10%;
    color: #004400;
    margin-top: 5px;
    padding-left: 5px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.object-list {
    margin-bottom:30px;
    background-color: #003366;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 100px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: #338899;
}

.header-area{
    width: 100%;
}

.data-area{
    height: 60%;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #b0c4de;
}

.TextArea {
    background-color: #990000;
}

.object-area {
    float: left;
    /* width: 50%; */
    /* background-color: #b0c4de; */
    background-color: #330000 !important;
}

.svg-area {
    width: 100%;
    /* margin-bottom: 100px; */
    /* margin-right: 150px; */
    height: 60%;
    overflow: scroll;
    background-color: #330000;
}

.object-menue {
    padding-left: 5px;
}

.relation-menue {
    padding-left: 5px;
}

.filter_select {
    margin-top: 10px;
    border-style: solid;
    border-color: grey;
    border-width: thin;
    padding: 2px;
}

/* Header of symbol/relation-tables: */
.ngHeaderContainer {
    background-color: #888800;
}

.ngCellText {
    background-color: #999900;
}

#MessageArea {
    margin-top: 4px;
    height: 6em;
    overflow:scroll;
    background-color: rgb(80, 10, 0);
    border-style: inset;
}


#graphic_view {
    overflow:scroll;
    background-color: #993300;
}
